pkgbase = sway-interactive-screenshot
	pkgdesc = Interactively take screenshot within Sway.
	pkgver = 2.0.4
	pkgrel = 1
	url = https://github.com/moverest/sway-interactive-screenshot
	arch = x86_64
	license = MIT
	depends = sway
	depends = fuzzel
	depends = grim
	depends = slurp
	depends = libnotify
	depends = wl-clipboard
	depends = python
	optdepends = rofi: selector
	optdepends = swappy: edit screenshots
	optdepends = dragon-drop: drap file to other programs
	optdepends = xdg-utils: open file
	optdepends = wf-recorder: capture screencasts
	source = https://github.com/moverest/sway-interactive-screenshot/archive/2.0.4.tar.gz
	sha256sums = 7bb2337437976901ba5a2cb7aa809c670d668a61416dd83cbfdef3a9d4710cd0

pkgname = sway-interactive-screenshot
